@page
@model NetCoreIoT.Pages.Login.indexModel
@{
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>IoT管理系统 - 登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/login/login.css" rel="stylesheet" />
</head>
<body>
    <div id="bg-slideshow"></div>
    <div id="particles-js"></div>
    <div class="overlay"></div>

    <div class="login-container">
        <div class="login-left">
            IOT 智能设备平台
        </div>
        <div class="login-right">
            <h2>用户登录</h2>
            <form class="layui-form" method="post" action="/Login">
                <div class="layui-form-item">

                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-password"></i>
                        </div>
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-affix="eye">
                    </div>
                </div>
                <div class="layui-form-item">
                    <input type="checkbox" name="remember" lay-skin="primary" title="记住我">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-blue" lay-submit lay-filter="submitLogin">登 录</button>
                </div>
            </form>
            <div class="form-footer">
                © 2025  IoT Platform
            </div>
        </div>
    </div>

    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/lay-config.js"></script>
    <script src="~/js/particles/particles.min.js"></script>
    <script src="~/js/login/login.js"></script>


</body>
</html>

